
.BoxEffect{
    transition: 400ms ease-in-out;
    cursor: pointer;
}
.BoxEffect:hover{
    transform: scale(1.05);
}
.BoxShadow{
    filter: brightness(60%);
}
.bgColor{
    background-color: #3a312b;
}
.dot{
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carouselDotActive {
    background-color: #fa2020;
  }
.bgColorCheckout_Side{
    background-color: #3333334a;
    padding: 10px;
    transition: 0.4s;
}